<!DOCTYPE html>
<html>
  <head>
  
    <title>YasMusicApp</title>

    <%= stylesheet_link_tag "application.css" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>YAS MUSIC</h1>

    <%= yield %>

    <br>


    <% if current_user.nil? %>
      <%= link_to 'Sign in', new_session_url %>
      <%= link_to 'Sign up', new_user_url %>
    <% else %>
      Hi there! You're logged in: <%= current_user.email %>
      <form action= "<% current_user.destroy %>" >
        <input type="submit" id = "user[email]" value="Log out :D"/>
      </form>
    <% end %>
  </body>
</html>
